<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="E:/testing/java/projects/simple-maven-project"><classes><class name="Pages.HelloTest"><methods><include name="helloTest"/></methods></class></classes></test></suite>